@{
    ViewBag.Title = "Contact Me";
}

<div class="col-md-10 col-md-offset-1 margin-25">
    <div class="card">
        <div class="card-body">
            <h2>@ViewBag.Title.</h2>
            <div class="col-xs-12">
                <strong>Github:</strong>   <a href="https://github.com/jean1880">jean1880</a>
            </div>
            <div class="col-xs-12">
                <strong>Email:</strong>   <a class="col-xs-12 href=" mailto:jean18801880@gmail.com">jean18801880@gmail.com</a>
            </div>
        </div>
    </div>
</div>